@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.scroll-none::-webkit-scrollbar {
  display: none;
}

/* ================================= slider css ================================== */
.card-slider {
  width: 100%;
  margin: auto;
}

.card {
  padding: 20px;
  text-align: center;
}

.slick-slider {
  display: flex !important;
  gap: 20px !important;
}

.slick-arrow {
  display: none !important;
}

.slick-dots button::before {
  color: #71CED0 !important;
  font-size: 10px !important;
}

/* ================================= scroll keyframe css ================================== */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.scrolling-content {
  display: flex;
  animation: scroll 20s linear infinite;
}

.scrolling-content .flex {
  display: flex;
  flex-shrink: 0;
}

.group:hover .dropdown-icon svg path {
  fill: #71CED0;
}

@media (max-width: 991.99px) {
  .slick-track {
    display: flex !important;
    gap: 20px !important;
  }
}